*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Oswald", sans-serif;
}
.App {
  padding-top: 4rem;
}
body,
ul,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}
header {
  background: beige;
  padding: 0.5rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 111;
}

ul {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
  grid-gap: 0.5rem;
}

.gallery .wide {
  grid-column: span 2;
}

.gallery .big {
  grid-column: span 2;
  grid-row: span 2;
}
